[credential]
	helper = cache
[push]
	default = current
[alias]
	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	co = checkout
	ci = commit
	br = branch
	cob = checkout -b
	cp = cherry-pick
	s = status
	c = commit -m
	a = add
	cb = checkout -b
# [url "git@github.com:"]
# 	insteadOf = https://github.com/
[color]
	status = always
	ui = true
[merge]
	conflictstyle = diff3
[gui]
	editor = nano
[core]
	excludesfile = ~/dotfiles/git/.gitignore
	editor = nano
	autocrlf = input
[include]
	path = ~/dotfiles/git/.gitconfig.local
[advice]
	statusHints = false
[help]
	autocorrect = 1
	autoCorrect = 20
[gpg]
	program = gpg2
[http]
	postBuffer = 524288000
[user]
	name = Amit Chaudhary
	email = meamitkc@gmail.com
